* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}
body {
  background: #eaeaea;
  font-family: sans-serif;
}
.main-container {
  background-color: #ffff;
  padding: 20px 2px;
  width: 100%;
  max-width: 500px;
  max-height: auto;
  border: 1px solid #000;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image {
  text-align: center;
}
.logo-image {
  background-color: #fff;
}
.motto {
  font-size: 14px;
  font-style: italic;
}
form{
    margin: 20px 0;
}
.mb-3{
    margin: 10px ;
    display: flex;
    flex-direction: column;
}
.mb-3 label{
    font-weight: bold;
}
#form-input,
#country-select{
    padding: 7px;
    border-radius: 4px;
    outline: none;
    border: 2px solid #3333337e;
    font-size: 15px;
    margin: 2px 0;
}
.btn{
    padding: 10px 7px;
    font-size: 16px;
    background-color: #ff4757;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn:hover{
    letter-spacing: 1px;
    color: #000;
}